body{
    margin: 0;
}
.item{
    /*max-height: 100px;*/
    min-height: 20px;
    border: 1px solid;
}
.container{
    display: grid;/* без этого правила не работают сетки*/
    /*задание столбцов внутри сетки*/
    /* grid-template-columns: 200px 300px 50px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 300px ;
    background: red;
   /*margin: 50px;*/
   padding: 50px;
   column-gap: 20px;/* расстояние между столбцами*/
   row-gap: 50px; /* расстояние между строками*/
   gap: 20px 50px;/*вертикаль(у) горизонталь(х)*/
}
.item2{
    background: blue;
    grid-column-start: 1;/*у какой линии начнется элемент внутри сетки (ось х) в третьем столбике*/
    grid-column-end: 3;/* у какой линии закончится элемент в сетки*/
    grid-row-start: 2;/* у какой линии начнется элемент внутри сетки (ось у) в третьей линии*/
    grid-row-end: span 3;/* сколько строк займет элемент сетки (в данном случае по оси у)*/
}
